<!doctype html>
<html>
  <head>
    {% block head %}
    <title>Virtual Mall Box </title>

    <h1 style="color:red"><a href="{{ url_for('go') }}" style="color:red">
       <button style="color:red">Virtual Mall Box</button>
    </a></h1>


    <a href="{{ url_for('viewInvoice') }}">
       <button>Invoices</button>
    </a>

    {% endblock %}

    <div id="flashed-messages">
      {# TODO: Display these using an appropriate style based on their "category" (e.g., error, success, etc);
         TODO: use the 'with_categories' parameter of 'get_flashed_messages' for that. #}
      {% for message in get_flashed_messages() %}
        <div data-alert class="alert-box info radius">
          {{ message }}
          <a href="#" class="close">&times;</a>
        </div>
      {% endfor %}
    </div>
  </head>
  <body>
    <div id="content"  align="center">
        {% block content %}
        <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/admin-base.css') }}">-->
        {% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2015
        Have a bug to report?<a href="mailto:vmallboxpty@gmail.com?subject=VMBBugs
&body=URL of Page: Problem:">Email Me</a>.
      {% endblock %}
    </div>
  </body>
</html>