{% from "widgets.html" import form_entry, form_submit_button %}
    <style>
    thead {color:green;}
    tbody {color:black;}
    tfoot {color:red;}

    table, th, td {
        border: 1px solid black;
    }
    tr:nth-child(even) {background: #CCC}
    tr:nth-child(odd) {background: #FFF}
    </style>

    <table style="margin: 0 auto">
      <thead>
        <tr>
          {% if client['casillero'] != 0 %}
            <th></th>
            <th></th>
          {% endif %}
          <th>Invoice No.</th>
          <th>Guia</th>
          <th>Referencia</th>
          <th>Remitente</th>
          <th>Peso - KG</th>
          <th>Peso - LB</th>
          <th>Total</th>
          <th>Pagado</th>
          <th>Aqui en Panama</th>
          <th>Piezas</th>
          <th>Fecha</th>
          <th>Fecha Proceso</th>
          <th>Hora Proceso</th>
          <th>amt_paid</th>
          {% if client['casillero'] == 0 %}
            <th>Contacto</th>
            <th></th>
          {% endif %}
        </tr>
      </thead>
      <tbody>

        {% for inv in ilist %}
        <tr>
          {% if client['casillero'] != 0 %}
            <form action="{{ url_for('viewClient', cid=client['casillero']) }}" method="POST">
              <td>
              {% if inv['paid'] == 'No'  and client['casillero'] != 0 %}
                {{ form_entry('', 'amt', '0.00') }}
              {% endif %}
              </td>
              <td>
              {% if inv['paid'] == 'No'  and client['casillero'] != 0 %}
                {{ form_entry('', 'subtotal', inv['subtotal'], type='hidden') }}
                {{ form_entry('', 'update', inv['guia'], type='hidden') }}
                {{ form_submit_button('paga') }}
              {% endif %}
              </td>
            </form>
          {% endif %}
          <td>{{ inv['invoice_num'] }}</td>
          <td>{{ inv['guia'] }}</td>
          <td>{{ inv['referencia'] }}</td>
          <td>{{ inv['remitente'] }}</td>
          <td>{{ inv['peso'] }}</td>
          <td>{{ inv['lb'] }}</td>
          <td>${{ inv['subtotal'] }}</td>
          <td>{{ inv['paid'] }}</td>
          <td>{{ inv['in_panama'] }}</td>
          <td>{{ inv['piezas'] }}</td>
          <td>{{ inv['fecha'] }}</td>
          <td>{{ inv['fecha_proceso'] }}</td>
          <td>{{ inv['hora_proceso'] }}</td>
          <td>${{ inv['amt_paid'] }}</td>
          {% if client['casillero'] == 0 %}
              <td><a href="{{ url_for('viewClient', cid=inv['casillero']) }}">PTY{{ inv['casillero'] }}</a></td>

              <td>
              {% if inv['in_panama'] == 'No' %}
                  <form action="{{ url_for('packageArrived') }}" method="POST">
                        {{ form_entry('', 'update', inv['guia'], type='hidden') }}
                        {{ form_submit_button('Entregado') }}
                  </form>
              {% endif %}
              </td>
          {% endif %}
        </tr>
        {% endfor %}


      </tbody>
    </table>
